In [7]:
import pandas as pd

In [ ]:
db = pd.read_csv("../data/collegeinsight_data_nolabel_ICs_by_year.csv", encoding= 'unicode_escape')
db

In [96]:
#db[['data_yr_string', 'name']]

pred_data = ['coa_tuit_fees_d', 'coa_books_supp_d', 'coa_on_room_board_d']

db['name'] = db['name'].str.upper() # make all names uppercase

db = db[['name', 'data_yr_string'] + pred_data] # select only the columns we need

for dat in pred_data:
    db = db[db[dat].notnull()] # remove rows with null values


yrs = sorted(list(set(db['data_yr_string'])))
print(sorted(yrs))
colleges = list(db[db['data_yr_string'] == yrs[0]]['name'])


for yr in yrs[1:2]:
    col = list(db[db['data_yr_string'] == yr]['name'])

    colleges = [x for x in colleges if x in col]


print(len(colleges))

db[db['name'].isin(colleges)]

db[db['name'] == "EASTERN ARIZONA COLLEGE"]
#db[db['coa_tuit_fees_d'] < 1000]
#for i in yrs:
#    colleges[i] = list(set(db.loc[db['data_yr_string'] == i]['name']))


#[x for x in colleges[yrs[-1]] if x not in colleges[yrs[-2]]]
#len(list(set(db['name'])))

['2000-01', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19']
1982

,name,data_yr_string,coa_tuit_fees_d,coa_books_supp_d,coa_on_room_board_d
253,EASTERN ARIZONA COLLEGE,2000-01,748.0,600.0,3380.0
10443,EASTERN ARIZONA COLLEGE,2003-04,868.0,600.0,4130.0
18197,EASTERN ARIZONA COLLEGE,2004-05,1008.0,600.0,4260.0
25900,EASTERN ARIZONA COLLEGE,2005-06,1128.0,600.0,4700.0
33645,EASTERN ARIZONA COLLEGE,2006-07,1220.0,700.0,4570.0
41410,EASTERN ARIZONA COLLEGE,2007-08,1300.0,700.0,4755.0
49294,EASTERN ARIZONA COLLEGE,2008-09,1380.0,805.0,5205.0
57243,EASTERN ARIZONA COLLEGE,2009-10,1520.0,885.0,5075.0
65462,EASTERN ARIZONA COLLEGE,2010-11,1520.0,805.0,4835.0
73844,EASTERN ARIZONA COLLEGE,2011-12,1600.0,800.0,5460.0
82284,EASTERN ARIZONA COLLEGE,2012-13,1760.0,850.0,5685.0
90792,EASTERN ARIZONA COLLEGE,2013-14,1760.0,850.0,5685.0
99312,EASTERN ARIZONA COLLEGE,2014-15,2000.0,850.0,6480.0
107730,EASTERN ARIZONA COLLEGE,2015-16,2080.0,850.0,6480.0
116065,EASTERN ARIZONA COLLEGE,2016-17,2400.0,850.0,6280.0
124212,EASTERN ARIZONA COLLEGE,2017-18,2550.0,850.0,6595.0
131921,EASTERN ARIZONA COLLEGE,2018-19,2700.0,850.0,6790.0